@media only screen and (max-width: 1024px) {

	.row {
		padding: 0 1%;
	}

	.left-header-col {
	    width: 26%;
	    text-align: right;
	}

	.right-header-col {
	    width: 74%;
	    text-align: right;
	}



	.switch-language-list {
		width: 36%;
	}

	.switch-language {
		width: 100%;
	}

	.lang-item {
	    margin: -18px 3.5% 0 3.5%;
	}

	.menu-box {
		width: 22%;
	}

	.modal-menu-block {
		left: 0;
		right: 0;
		margin: 0 0 0 -118px;
	}

	.user {
		width: 42%;
		text-align: left;
	}

	.photo-user {
		width: 28%;
	}

	.photo {
	    margin: 0;
	}

	.user-name {
		width: 72%;
		text-align: left;
	}

	.modal-user-box {
	    right: 1%;
	}






	.content {
		position: initial;
		padding: 0; 
	}

	.sidebar {
	    width: 24%;
	    min-width: 352px;
	    min-height: 100%;
	    padding: 4% 5%;
	    position: absolute;
	    top: 0;
	    left: -100%;
	    z-index: 10;
	    background: rgba(245, 248, 251, 1);
	}


	.table-header .table-cell {
	    padding: 0 0 0 1%;
	}

	.showsidebar-btn {
        display: block;
    }

	.main-content {
		width: 100%;
	}

	.header-page-nav-list .item {
	    height: 50px;
	}

}


@media only screen and (max-width: 700px) {


	.header {
	    margin: 0;
	    padding: 8px 0;
	    border-bottom: 1px solid transparent;
	}

	.left-header-col {
	    width: 60%;
	    text-align: left;
	}

	.logo-img {
		width: 137px;
	}

	.right-header-col {
		height: 54px;
	    width: 40%;
	    text-align: right;
	    position: relative;
	}

	.switch-language-list,
	.menu-box,
	.user {
		display: none;
	}




	.show-menu-head-btn {
        display: block;
    }


    .showsidebar-btn {
    	position: fixed;
	    top: initial;
	    bottom: 4%;
	    left: 4%;
	}

	.close-sidebar-btn {
		display: block;
	}

	.header-page-nav-list {
	    float: none;
	    width: 100%;
	    text-align: left;
	    margin: 0;
	    padding: 20px 0 0 0;
	}

	.header-page-nav-list .item {
	    height: 48px;
	}

	.main-content {
		padding: 20px 0 10px 0;
	}

	.page-h {
	    font-size: 24px;
	    padding: 0 0 12px 0;
	}

	.header-page-txt {
	    font-size: 12px;
	    line-height: 21px;
	}

	.header-page-txt span {
	    font-size: 12px;
	}

	.page-link {
	    font-size: 16px;
	    line-height: 22px;
	}

	.page-link.active {
		color: #ed1c24;
	}

    .wrapp-content-320 {
        overflow-x: scroll;
        width: 100%;
        max-width: 768px !important;
    }

	.report-table {
        width: 768px;
    }

	.table-header .table-cell {
	    padding: 0 0 0 1%;
	}

	.table-row.table-header {
	    padding: 13px 3%;
	}

	.table-row {
	    padding: 11px 3%;
	}

	.table-cell {
	    font-size: 14px;
	}

	.table-cell p {
	    font-size: 13px;
	}

	/*--  Authorisation  --*/


		.authorization-modal {
			min-width: 280px;
			width: 100%;
		}

		.enter-modal-top-row {
	        background: rgba(244, 247, 250, 1);
	    }

	    .enter-modal-header {
		    text-align: left;
		}

		.enter-modal-header .logo-img {
	        width: 140px;
	    }

	    .switch-lang {
	        margin: -18px 15px 0 0;
	    }

		.enter-form {
	        padding: 80px 0 0 0;
	    }

		.enter-form input {
			padding: 17px 0;
			font-size: 16px;
			min-height: 57px;
		}

		input.enter-name {
			margin: 26px auto;
		}

		.error-box-wrapp {
			height: 160px;
		}

		input.enter-btn,
		button.enter-btn {
			padding: 20px 1px;
			font-size: 18px;
		}


}



@media only screen and (max-width: 480px) {

	.sidebar {
	    width: 100%;
	    min-width: 290px;
	    max-width: 320px;
	}

}